@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&;display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

html {
  @apply scroll-smooth no-scrollbar;
}

body {
  @apply bg-slate-900 leading-relaxed text-slate-400 antialiased selection:bg-teal-300 selection:text-teal-900 m-0 font-sans;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
