@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
  @apply no-scrollbar;
}

body {
  @apply bg-slate-900 leading-relaxed antialiased selection:bg-teal-300 selection:text-teal-900 text-opacity font-sans;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* loading animation */
.animation {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation span {
  position: relative;
  width: 150px;
  height: 150px;
  margin: -30px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top: 4px solid #24ecff;
}

.animation span::before {
  position: absolute;
  content: "";
  background: #24ecff;
  width: 15px;
  height: 15px;
  top: 12px;
  right: 12px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #24ecff33, 0 0 0 10px #24ecff22, 0 0 0 15px #24ecff11,
    0 0 40px #24ecff, 0 0 60px #24ecff;
}

.animation span:nth-child(1) {
  animation: anim1 2s linear infinite;
}
.animation span:nth-child(2) {
  animation: anim2 2s linear infinite;
}
.animation span:nth-child(3) {
  animation: anim3 2s linear infinite;
  position: absolute;
  top: -50px;
}

@keyframes anim1 {
  0% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(600deg);
  }
}

@keyframes anim2 {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(480deg);
  }
}
@keyframes anim3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  margin-top: 400px;
}
